@import "tailwindcss";

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

button {
	@apply 
	w-full bg-green-600 text-white font-black py-1.5 rounded-xl text-xl transition-all shadow-lg shadow-green-600/20 
	hover:bg-green-500
	disabled:bg-zinc-700 disabled:text-zinc-500 disabled:shadow-zinc-500/10 disabled:cursor-not-allowed
	active:scale-[0.95]  
	sm:mt-2 sm:py-4
}

input {
	@apply 
	bg-zinc-100 text-black px-2.5 py-1.5 rounded-xl border border-zinc-200 outline-none transition-all
	focus:ring-2 focus:ring-green-600  
	sm:px-4 sm:py-3
}


/* ---------------------- LOADING ---------------------- */
.loading-main {
	@apply 
	mx-auto min-h-screen w-full max-w-3xl flex flex-col items-center justify-center
}

.loading-h1 {
	@apply 
	text-2xl font-black
}


/* ---------------------- HEADER ---------------------- */
header {
	@apply space-y-2
}

h1 {
	@apply 
	text-4xl font-black text-center 
	sm:text-5xl
}

.header-p {
	@apply text-xs text-zinc-500 text-center 
	sm:text-sm
}

.error-p {
	@apply 
	text-sm text-red-600 mx-auto -my-2
	sm:text-base
}


/* ---------------------- MAIN & HOME SCREEN ---------------------- */
main {
	@apply 
	mx-auto h-dvh max-h-dvh w-full max-w-3xl overflow-hidden flex flex-col gap-4 p-3 
	sm:min-h-screen sm:h-auto sm:max-h-none sm:gap-8 sm:p-8
}

h2 {
	@apply 
	text-xl font-black
	sm:text-3xl
}

.main-div {
	@apply 
	bg-zinc-900 border border-zinc-800 rounded-xl w-full p-3 pt-2 shadow-lg shadow-zinc-800/40 
	sm:p-6
}

.main-p {
	@apply 
	text-zinc-400 text-sm pt-1 mt-1 border-t border-zinc-700 leading-snug 
	sm:text-base sm:pt-3 sm:mt-3
}

.italic-text {
	@apply
	text-zinc-500 italic
}


/* ---------------------- PROFILE SCREEN ---------------------- */
/* PROFILE PIC */
.profile-pic-div {
	@apply 
	absolute right-3 top-3 w-[40px] h-[40px] bg-zinc-600 rounded-full flex items-center justify-center flex-shrink-0 overflow-hidden
	sm:right-8 sm:top-8 sm:w-[50px] sm:h-[50px]
}

.profile-pic-div-non-absolute {
	@apply
	w-[40px] h-[40px] bg-zinc-600 rounded-full flex items-center justify-center flex-shrink-0 overflow-hidden
	sm:w-[50px] sm:h-[50px]
}

.profile-pic-icon {
	@apply 
	text-zinc-300 w-[28px] h-[28px] 
	sm:w-[35px] sm:h-[35px]
}

/* PROFILE STATS */
.profile-stats-p {
	@apply 
	text-sm text-zinc-400 tracking-wider
	sm:text-lg
}

.profile-stats-strong {
	@apply
	text-white text-lg
	sm:text-2xl
}


/* ---------------------- WAITING & FINISHED ---------------------- */
.players-list-div {
	@apply
	pt-2.5 mt-2.5 border-t border-zinc-700 flex flex-col gap-2 
	sm:pt-4 sm:mt-4 sm:gap-3
}

/* PLAYER BOX */
.player-div {
	@apply
	flex items-center justify-between bg-zinc-800/50 px-1.5 py-1 rounded-lg border border-zinc-700/50
	sm:px-3 sm:py-1.5
}

.player-name-div {
	@apply
	flex items-center gap-2 flex-1 
	sm:gap-3
}

.player-p {
	@apply
	flex-1 font-bold text-base truncate max-w-[100px]
	sm:text-xl sm:max-w-[250px]
}

.player-gamestats-div {
	@apply
	flex flex-col text-base font-bold bg-zinc-700/50 px-1.5 py-0.5 rounded-lg border border-zinc-700 min-w-[83px] justify-between 
	sm:text-xl sm:px-3 sm:py-1 sm:min-w-[110px]
}

/* BOTTOM BUTTONS */
.bottom-button-div {
	@apply
	flex-1 flex flex-col justify-end gap-4 mb-1 sm:gap-6
}

/* SETTINGS POP UP */
.card-count-div {
	@apply	
	bg-zinc-700/50 rounded-lg border border-zinc-700 p-1.5 text-center w-[40px] 
	hover:cursor-pointer
	sm:w-[48px]
}

.active-card-count {
	@apply
	!bg-blue-700 !shadow-blue-600/20 scale-[1.2]
}


/* ---------------------- ACTIVE & DRIVING ---------------------- */
/* TOP PLAYERS HANDS */
.players-hands-div {
	@apply
	flex flex-row gap-2.5 overflow-x-auto w-full justify-center pt-4
	sm:gap-4 sm:pt-6 sm:pb-2
}

.players-hand-div {
	@apply
	relative bg-zinc-800 flex flex-col items-center justify-center gap-2 p-1 rounded-lg border border-zinc-700 w-[70px]
	sm:w-[105px] sm:gap-3 sm:p-2
}

.sipcounter {
	@apply
	absolute -top-3 -right-2 bg-red-600 text-white font-black px-1 py-0.5 text-sm rounded-full shadow-xl
	sm:-top-4 sm:-right-3 sm:px-2 sm:text-base
}

.players-name-p {
	@apply
	text-xs mt-0.5 font-semibold truncate max-w-[60px]
	sm:text-base sm:max-w-[90px]
}

/* CARD PYRAMID */
.pyramid-row-div {
	@apply
	flex flex-row gap-1.5 justify-center
	sm:gap-3
}

/* BOTTOM PLAYER HAND */
.player-cards-div {
	@apply
	flex flex-col items-center justify-center gap-1 pt-2 pb-3 border-t border-zinc-700 mt-auto
	sm:gap-2 sm:pt-4 sm:pb-6
}

.player-stats-div {
	@apply
	flex flex-row items-center justify-center w-full
}

.player-stats-strong {
	@apply
	ml-2 text-2xl text-white 
	sm:ml-4 sm:text-3xl
}


/* ---------------------- CARD FACES ---------------------- */
/* UNREVEALED CARD */
.card {
	@apply
	bg-blue-800 rounded-lg w-[56px] h-[77px] flex items-center justify-center shadow-md shrink-0 border-2 transition-all
	sm:w-[80px] sm:h-[110px]
}

.card-active {
	@apply
	border-white cursor-pointer hover:bg-blue-700 shadow-white/20
}

.card-inactive {
	@apply
	opacity-70 border-zinc-500
}

.card-middle {
	@apply
	w-9 h-13 border border-white/20 rounded-sm flex items-center justify-center
	sm:w-12 sm:h-16
}

.card-middle-p {
	@apply
	text-white/20 font-black text-xl
}

/* REVEALED CARD */
.card-revealed {
	@apply
	bg-white rounded-lg w-[56px] h-[77px] flex items-center justify-center shadow-md shrink-0 border-2 select-none transition-all
	sm:w-[80px] sm:h-[110px]
}

.card-revealed-active {
	@apply
	border-yellow-400 shadow-yellow-400/40
}

.card-revealed-p {
	@apply
	text-2xl font-bold
	sm:text-4xl
}


/* ---------------------- BACK ARROW, SETTINGS & TRASH CAN ---------------------- */
.back-arrow-div {
	@apply 
	absolute left-3 top-3 w-[40px] h-[40px] flex items-center justify-center
	sm:right-8 sm:top-8 sm:w-[50px] sm:h-[50px]
}

.back-arrow-icon {
	@apply 
	text-zinc-100 w-[40px] h-[40px]
	hover:text-zinc-400  
	active:scale-[0.9]
	sm:w-[50px] sm:h-[50px]
}

.settings-div {
	@apply 
	absolute right-3 top-3 w-[40px] h-[40px] flex items-center justify-center
	sm:right-8 sm:top-8 sm:w-[50px] sm:h-[50px]
}

.trash-can-icon {
	@apply
	text-red-700 !w-[28px] !h-[28px]
	hover:text-red-600 
	active:scale-[0.9]  
	sm:!w-[34px] sm:!h-[34px]
}

